---
layout: page
title: Projects
permalink: /projects/
---
<h2>Ongoing Projects</h2>
<ul>
  {% for project in site.projects %}
    <li>
      <h4><a href="{{ project.url }}">{{ project.name }}</a></h4>
      <p>
  {{ project.shortDescr }}
</p>
  

    </li>
  {% endfor %}
</ul>

<h2>Student Projects</h2>
<p>
My primary appointment is with the <b>Interdisciplinary School of Health Sciences</b> with cross-appointments into the <b>School of Psychology,</b> and the <b>School of Electrical Engineering and Computer Science.</b> The following projects are therefore open to undergraduate students for course credit for CSI4900, PSY4276, or HSS4901. 
</p>
<p>
The lab has developed an exciting software platform for remote and in-person assessment of cognitive functioning (see description above). The platform includes cognitive and behavioral tasks to assess memory, executive function, processing speed, visuospatial construction, depression, anxiety, etc. 
</p>
<p>
This platform provides many opportunities for psychology, health science, engineering, computer science, or interdisciplinary student projects. The goal is to expand this platform in many ways. This includes building up a database of scores from healthy adults to develop normative information about the tasks. Another goal is to leverage the computerized nature of these tasks and identify additional cognitive metrics that are only available with digital assessments. In the same manner, there is a need to develop open-source databases (drawings, voice recordings, etc.) for machine learning applications. Here is a list of some of our specific current needs, but if you have your own idea of something we could use/need, we would love to hear about it!
<p>
  <b>The following list was updated October 2025.</b>
</p>
<h3>Low Priority Projects</h3>
</p>
<ul>
  {% for project in site.studentlowpriorityprojects %}
    <li>
      <h4><a href="{{ project.url }}">{{ project.name }}</a></h4>
      <p>
  {{ project.shortDescr }}
</p>
    </li>
  {% endfor %}
</ul>
<h3>High Priority Projects</h3>
</p>
<ul>
  {% for project in site.studentprojects %}
    <li>
      <h4><a href="{{ project.url }}">{{ project.name }}</a></h4>
      <p>
  {{ project.shortDescr }}
</p>
    </li>
  {% endfor %}
</ul>



