---
layout: page
title: Projects
permalink: /projects/
---
<h2>Ongoing Projects</h2>
<ul>
  {% for project in site.projects %}
    <li>
      <h4><a href="{{ project.url }}">{{ project.name }}</a></h4>
      <p>
  {{ project.shortDescr }}
</p>
  

    </li>
  {% endfor %}
</ul>

<h2>Student Projects</h2>
The lab has developed an exciting software platform for remote and in-person assessment of cognitive functioning (see description above). The platform includes cognitive and behavioral tasks to assess memory, executive function, processing speed, visuospatial construction, depression, anxiety, etc. 

This platform provides many opportunities for psychology, health science, engineering, computer science, or interdisciplinary student projects. Our goal is to expand this platform in many ways. This includes building up a database of scores from healthy adults to develop normative information about the tasks. Another goal is to leverage the computerized nature of these tasks and identify additional cognitive metrics that are only available with digital assessments. In the same manner, there is a need to develop open-source databases (drawings, voice recordings, etc.) for machine learning applications. Here is a list of some of our specific current needs, but if you have your own idea of something we could use/need, we would love to hear about it!
<ul>
  {% for project in site.studentprojects %}
    <li>
      <h4><a href="{{ project.url }}">{{ project.name }}</a></h4>
      <p>
  {{ project.shortDescr }}
</p>
    </li>
  {% endfor %}
</ul>



